h2{
    margin-bottom: 200px;
}
label{
    
    margin: 10px;
}
input {
    margin: 10px;
}
#form1{
    
    border: 1px solid ;
    width: 350px;
    margin :auto ;

}
#form2{
    border :1px solid black;
    width:  350px;
    margin: auto;
    height: 35px;
}
form{
    background-color: beige ;
}
.a{
    margin:auto;
}
